<h1><%= @part.title %>からのマップ</h1>

<div><%= image_tag('/public/test.png') %></div>
<div class="blank"></div>
<p class ="return"><%= link_to '戻る', edit_part_path(@part), class: 'btn btn-info btn-xs' %></p>