<h1><%= @part.title %><%= @part.content %>からのマップ</h1>
<div><iframe src="<%= @img %>" width="100%" height="500px" ></iframe></div>

<div class="blank"></div>
<p class ="return"><%= link_to '戻る', edit_part_path(@part), class: 'btn btn-info btn-xs' %></p>
