<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-tabs nav-justified">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">User Information</h3>
        </div>
        <div class="panel-body">
          <p>Name：<%= @user.name %></p>
          <p>Email：<%= @user.email %></p>
        </div>
        <div class="user-return">
          <%= link_to "Back", root_path, class: "btn btn-warning" %>
        </div>
        <div class="delete">
          <%= link_to "Delete", @user, method: :delete, data: { confirm: "If you delete the user, all parts related to the user will be removed. Are you sure?" }, class: 'btn btn-danger btn-xs' %>
        </div>
      </div>
    </ul>
  </div>
</div>