<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
    </div>
  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">ユーザ詳細</h3>
        </div>
        <div class="panel-body">
          <p>名前：<%= @user.name %></p>
          <p>メールアドレス：<%= @user.email %></p>
        </div>
        <div class="delete">
          <%= link_to "削除", @user, method: :delete, data: { confirm: "ユーザを削除すると、マップ情報もすべて削除されます。本当に削除しますか？" }, class: 'btn btn-danger btn-xs' %>
        </div>
      </div>
    </ul>
  </div>
</div>