<% if logged_in? %>
  <div class="row">
    <aside class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">User：<br><%= link_to @user.name.truncate(12), @user ,class: "user-link" %></h3>
        </div>
      </div>
    </aside>
    <div class="col-xs-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Parts</h3>
        </div>
      </div>
      <ul class="nav nav-tabs nav-justified">
        <li><%= render 'parts/parts', parts: @parts %></li>
      </ul>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome<br>to the<br>Map Generator</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>
