.blank{
    margin: 40px;
}

.return{
    text-align: right;
    margin: 10px;
}

.delete{
    text-align: right;
    margin: 10px;
}

#application-container {
    margin-top: 70px;
}
  

.navbar-inverse {
    background-color: #aac9dd;
    border-color: #aac9dd;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #99a9bb;
}

.navbar-inverse .navbar-toggle {
    border-color: #ffffff;
}

.navbar-brand {
    color: #ffffff !important;
}

#bs-example-navbar-collapse-1 {
    border-color: #99a9bb;
}

#bs-example-navbar-collapse-1 ul li a {
    color: #ffffff;
}

.user-link {
    color: #0081bd !important;
}